{% extends 'base.html' %}


{% load static %}
{% block page_title %}ガウディーズ{% endblock %}
{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static '/top/top.css' %}">{% endblock %}
<body>
    {% block extra_contents %}
    <div class="main">
        <div class="fixed_post post">
        <h1>{{ fixed_post.title }}</h1>
        <img src="{{ fixed_post.image.url }}" class="rounded img-fluid post-image" style = "max-height: 500px;">
        <p>{{fixed_post.summary}}</p>
        </div>
        <br><br>
        <div class="border"></div>
        {% if last_post %}
        <div class="last_post post">
            <h1></h1>
            {{ last_post.title }}
            {% if last_post.image %}
            <img src="{{ last_post.image.url }}" class="rounded img-fluid" style = "max-height: 200px;">
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endblock %}
</body>